<ul target="users-list">
    {% for key,user in users.items() %}
    <li>
        name: <span>{{ user.name }}</span>
        <re-action role="button" href="/{{key}}" method="delete">delete</re-action>
    </li>
    {% endfor %}
</ul>