<re-fragment target="users-rows">
    {% for user in users %}
    <tr>
        {% for key in table_columns %}
        <td>
            {{ user[key] }}
        </td>
        {% endfor %}
        <td>
            <re-action role="button" method="delete" href="/{{user.id}}">delete</re-action>
        </td>
    </tr>
    {% endfor %}
</re-fragment>