<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <style>
            body {
                font-family: sans-serif;
                margin: 0;
                padding: 4px;
            }

            [role="button"] {
                cursor: pointer;
                display: inline-block;
                border: 1px currentColor solid;
                border-radius: 1px;
                padding-inline: 0.35em;
                padding-block: 0.125em;
            }
        </style>
    </head>
    <body>
        <re-quest>
            <re-target name="latest"></re-target>
            <re-target name="list"> {% include 'list.html' %} </re-target>

            <form method="post">
                <input type="text" name="name" />
                <input type="submit" value="add" />

                <!-- <re-send>
                    <re-trigger on="repeat 500"></re-trigger>
                </re-send> -->
            </form>
        </re-quest>

        <script src="{{ url_for('static', filename='custom-elements/button.js') }}"></script>
        <script src="{{ url_for('static', filename='custom-elements/re-quest.js') }}"></script>
        <script src="{{ url_for('static', filename='custom-elements/re-send.js') }}"></script>
        <script src="{{ url_for('static', filename='custom-elements/re-trigger.js') }}"></script>
    </body>
</html>
