* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    padding: 8px;
    flex-direction: column;
    min-height: 100%;
    gap: 8px;
}

main {
    flex: 1;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

:where(h1, h2, h3, h4, p) {
    margin-bottom: 0.25em;
}

:where(h1, h2, h3, h4) {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1;
}
:where(h1, h2, h3, h4):first-child {
    margin-top: 0;
}

[role="button"] {
    display: inline-block;
    border-radius: 1px;
    padding-block: 0.125em;
    padding-inline: 0.35em;
    line-height: 1;
    border: 1px currentColor solid;
    cursor: pointer;
}
[role="button"]:active {
    background-color: #eee;
}

table {
    border-collapse: collapse;
}

table thead {
    border-bottom: 1px currentColor solid;
}

table tr {
    border-bottom: 1px currentColor solid;
}

table td:not(:last-of-type) {
    border-right: 1px currentColor solid;
}
table td {
}

footer {
    margin-top: 32px;
    padding-block: 16px;
    text-align: center;
    background-color: #eee;
}

body > .wrapper header nav {
    border: 1px #0003 solid;
    padding-inline: 4px;
    max-width: max-content;
}

body > .wrapper header nav span {
}

label:has(span):has(input) {
    white-space: nowrap;
}

/* label:has(span):has(input) span {
    display: inline-block;
}
label:has(span):has(input) input {
    display: inline-block;
} */
